Q1

In [24]:
class Person:
    def __init__(self,name,age,country):
            self.name=name
            self.age=age
            self.country=country
    def displayinfo(self):
        print(f"My name is {self.name},im {self.age} years old,i live in {self.country}")

In [26]:
p1=Person("Khoso",20,"Pakistan")
p2=Person("Hamid",20,"Dubai")

In [28]:
p1.displayinfo()

My name is Khoso,im 20 years old,i live in Pakistan

In [30]:
p2.displayinfo()

My name is Hamid,im 20 years old,i live in Dubai

Q2

In [45]:
class Rectangle:
    def __init__(self,height,width):
        self.height=height
        self.width=width
    def calcarea(self):
        return self.height*self.width
    def calcperim(self):
        return 2*(self.height+self.width)

In [47]:
r1=Rectangle(45,55)

In [49]:
r1.calcarea()

2475

In [51]:
r1.calcperim()

200

Q3

In [60]:
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def displayinfo(self):
        print(f"The car is of the make {self.make}, its model is {self.model}, it has come out in year {self.year}")

class Car(Vehicle):
    def __init__(self, make, model, year, doors):
        super().__init__(make, model, year)
        self.doors = doors

    def displayinfo(self):
        super().displayinfo()
        print(f"it has got {self.doors} Doors")

In [62]:
car = Car("Toyota", "Corolla", 2022, 4)
car.displayinfo()

The car is of the make Toyota, its model is Corolla, it has come out in year 2022
it has got 4 Doors

Q4

In [66]:
class BankAccount:
    def __init__(self, account_number, balance):
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print("Insufficient balance")

In [72]:
account1 = BankAccount("1234", 500)

In [74]:
account1.deposit(100)
account1.withdraw(200)
print("Balance:", account1.balance)

Balance: 400

Q5

In [77]:
class Shape:
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

class Triangle(Shape):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def area(self):
        return 0.5 * self.base * self.height

In [83]:
circle = Circle(4)
triangle = Triangle(5, 5)

In [85]:
print("Circle Area:", circle.area())
print("Triangle Area:", triangle.area())

Circle Area: 50.24
Triangle Area: 12.5

Q6

In [88]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def annual_salary(self):
        return self.salary * 12

class Manager(Employee):
    def __init__(self, name, salary, department):
        super().__init__(name, salary)
        self.department = department

    def annual_salary(self):
        return super().annual_salary() + 5000

In [94]:
manager1 = Manager("Sir.Nasir", 60000, "Teaching")
manager2 = Manager("Sir Shan", 55000, "IT")

In [96]:
print("Manager1 Annual Salary:", manager1.annual_salary())
print("Manager2 Annual Salary:", manager2.annual_salary())

Manager1 Annual Salary: 725000
Manager2 Annual Salary: 665000

Q7

In [108]:
class Book:
    def __init__(self, title, author, pyear):
        self.title = title
        self.author = author
        self.pyear = pyear

    def displayinfo(self):
        print(f"The book is titled {self.title},it is authored by {self.author},it came out in year {self.pyear}")

class Ebook(Book):
    def __init__(self, title, author, pyear, price):
        super().__init__(title, author, pyear)
        self.price = price

    def displayinfo(self):
        super().displayinfo()
        print(f"Its price is  {self.price}$")

In [110]:
ebook = Ebook("My Brother", "Fatima Jinah", 1960, 5)
ebook.displayinfo()

The book is titled My Brother,it is authored by Fatima Jinah,it came out in year 1960
Its price is  5$

Q8

In [128]:
class Animal:
    def __init__(self, species, sound):
        self.species = species
        self.sound = sound

    def make_sound(self):
        print(f"The {self.species} makes a sound: {self.sound}")

class Dog(Animal):
    def __init__(self, species, sound, color):
        super().__init__(species, sound)
        self.color = color

    def make_sound(self):
        print(f"The {self.color} dog barks: {self.sound}")

In [130]:
dog = Dog("Dog", "Woof", "brown")
dog.make_sound()

The brown dog barks: Woof

Q9

In [133]:
class Bank:
    def __init__(self, name):
        self.name = name
        self.branches = []

    def add_branch(self, branch_name):
        self.branches.append(branch_name)

    def remove_branch(self, branch_name):
        self.branches.remove(branch_name)

    def display_branches(self):
        print(f"Branches of {self.name}: {', '.join(self.branches)}")

In [137]:
bank = Bank("Habib Bank")
bank.add_branch("Johar")
bank.add_branch("Gulshan")
bank.display_branches()
bank.remove_branch("Gulshan")
bank.display_branches()

Branches of Habib Bank: Johar, Gulshan
Branches of Habib Bank: Johar

Q10

In [142]:
class Product:
    def __init__(self, product_id, name, price):
        self.product_id = product_id
        self.name = name
        self.price = price

    def total_price(self, quantity):
        return self.price * quantity

class PCProduct(Product):
    def __init__(self, product_id, name, price, warranty):
        super().__init__(product_id, name, price)
        self.warranty = warranty

    def total_price(self, quantity):
        return super().total_price(quantity) + (self.warranty * 10)

In [144]:
personal_care_product = PCProduct("011101", "Shampoo", 5, 2)
print("Total Price:", personal_care_product.total_price(3))

Total Price: 35

Q11

In [146]:
class BankAccount:
    def __init__(self, account_number, holder_name, balance):
        self.account_number = account_number
        self.holder_name = holder_name
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print("Insufficient balance")

    def transfer(self, amount, target_account):
        if amount <= self.balance:
            self.withdraw(amount)
            target_account.deposit(amount)
        else:
            print("Insufficient balance for transfer")

In [152]:
account1 = BankAccount("123", "Khoso", 570)
account2 = BankAccount("456", "KT", 200)
account1.transfer(300, account2)

In [154]:
print("Account1 Balance:", account1.balance)
print("Account2 Balance:", account2.balance)

Account1 Balance: 270
Account2 Balance: 500

Q12

In [156]:
class University:
    def __init__(self, name):
        self.name = name
        self.departments = []

    def add_department(self, department_name):
        self.departments.append(department_name)

    def remove_department(self, department_name):
        self.departments.remove(department_name)

    def display_departments(self):
        print(f"Departments in {self.name}: {', '.join(self.departments)}")

In [158]:
university = University("Tech University")
university.add_department("Computer Science")
university.add_department("Mechanical Engineering")
university.display_departments()
university.remove_department("Mechanical Engineering")
university.display_departments()

Departments in Tech University: Computer Science, Mechanical Engineering
Departments in Tech University: Computer Science