1. Write a Python function to find the maximum of three numbers.

In [3]:
def max_of_three(a, b, c):
    return max(a, b, c)

In [5]:
max_of_three(42,56,67)

67

2. Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [8]:
def sum_of_list(lst):
    return sum(lst)

In [22]:
sample_list = [8, 2, 3, 0, 7]
print(sum_of_list(sample_list))

20

3. Write a Python function to multiply all the numbers in a list

In [25]:
def multiply_list(lst):
    result = 1
    for num in lst:
        result *= num
    return result

In [29]:
sample_list = [9, 2, 3, 4, 56]
print(multiply_list(sample_list))

12096

4. Write a Python program to reverse a string

In [34]:
def reverse_string(s):
    return s[::-1]

In [38]:
sample_string = "Pakistan"
print(reverse_string(sample_string))

natsikaP

5. Write a Python function to calculate the factorial of a number

In [41]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

In [45]:
print(factorial(8))

40320

6. Write a Python function to check whether a number falls within a given range

In [48]:
def in_range(num, start, end):
    return start <= num <= end

In [52]:
print(in_range(3, 7, 23))

False

7. Write a Python function that counts upper and lower case letters in a string

In [61]:
def count_case(s):
    upper = sum(1 for char in s if char.isupper())
    lower = sum(1 for char in s if char.islower())
    return {"Upper": upper, "Lower": lower}

In [69]:
sample_string = 'Pakistan Zindabad'
result = count_case(sample_string)
print(f"No. of Upper case characters: {result['Upper']}") 
print(f"No. of Lower case characters: {result['Lower']}")

No. of Upper case characters: 2
No. of Lower case characters: 14

8. Write a Python function to return a list of distinct elements

In [72]:
def unique_list(lst):
    return list(set(lst))

In [82]:
sample_list = [1,1,1,1,2, 3,3, 3, 4,4,5,5,6]
print(unique_list(sample_list))

[1, 2, 3, 4, 5, 6]

9. Write a Python function to check whether a number is prime

In [86]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

In [88]:
print(is_prime(7))
print(is_prime(10))

True
False

10. Write a Python program to print the even numbers from a given list

In [97]:
def even_numbers(lst):
    return [num for num in lst if num % 2 == 0]

In [99]:
sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(even_numbers(sample_list))

[2, 4, 6, 8]

11. Write a Python function to check whether a number is "Perfect"

In [91]:
def is_perfect(num):
    divisors = [i for i in range(1, num) if num % i == 0]
    return sum(divisors) == num

In [113]:
print(is_perfect(28))
print(is_perfect(18)) 
print(is_perfect(2))

True
False
False

12. Write a Python function to check if a string is a palindrome

In [116]:
def is_palindrome(s):
    s = s.replace(" ", "").lower()
    return s == s[::-1]

In [122]:
print(is_palindrome("rotator"))
print(is_palindrome("walikum assalaam"))
print(is_palindrome("saylani"))

True
False
False